* {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
  }

  .navbar-light .navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

  navbar-custom {
    background-color: transparent !important;
    color: white;
  }

  .nave {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14.4px;
  }

  #branch {
    color: white;
  }

  .banner {
    height: 100vh;
    background-image: url("../image/pexels-shvets-production-7194446.jpg");
    background-size: cover;

  }

  .counter-box {
    display: block;

    padding: 40px 20px 37px;
    text-align: center
  }

  .counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500
  }

  .counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    line-height: 28px
  }



  .counter-box.colored p,
  .counter-box.colored i,
  .counter-box.colored .counter {
    color: #fff
  }

  .contas {
    background-image: url("../image/bg-din.jpg");
    background-size: cover;

  }

  .card-corpo {
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.3);
      -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.3);
      box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.3);
  }

  .imglateral {
    background-image: url("../image/banner-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* css páginas transferência */
  #saldoInsuficiente {
    width: 100%;
    background-color: rgba(255, 165, 165, 0.952);
    border-radius: 5px;;
  }

  .h1-transfer {
    color: rgb(0, 0, 0);
  }

  #form-transferencia {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
    background-color: transparent;
    border-radius: 5px;
  }

  .div-bg {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.157); */
    border-radius: 5px;
  }

  .imglateral-transfer {
    background-image: url("../image/man-neon1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .imglateral-transfer1 {
    background-image: url("../image/tech-girl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* CSS página cadastro */
  .imglateral-cadastro {
    background-image: url("../image/good-vibes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #main-extratos {
    height: auto;
  }

  .mensagem-login {
    background-color: rgb(255, 232, 213);
    border-radius: 10px;
  }